node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.env
.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.swp
*.swo
*~
.cache
build
coverage
.nyc_output
package-lock.json
yarn.lock